@import './variables.scss';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: $page-bg-color;
  color: $main-font-color;
  min-height: 100vh;
  font-family: "Balsamiq Sans", cursive;
  overflow-x: hidden;
  user-select: $secondary-color;
}

::-moz-selection {
  background: $secondary-color;
}

::selection {
  background: $secondary-color;
}

#root {
  width: 100%;
}

@media (max-width:480px) {
  html {
    font-size: 14px;
  }
}